.footer{
    background-color: #e2e2e2;
    overflow: hidden;
    padding-top: 30px;
    margin-top: 50px;
    .gallery, .info, .contact{
        float: $floatLeft;
    }
    .gallery{
        @media #{$minSmall} {
            width: 100%;
        }
        @media #{$minMedium} {
            width: 50%;
        }
        .img_box{
            overflow: hidden;
            margin-bottom: 20px;
            img{
                @media #{$minSmall} {
                    float: $floatLeft;
                }
            }
            .text{
                @media #{$minSmall} {
                    float: $floatLeft;
                    margin-right: 15px;
                    margin-left: 15px;
                    width: calc(100% - 180px);
                }
                h4{
                    color: $redColor;
                    margin: 20px 0 0px;
                }
                p{
                    color: #888;
                    line-height: 1.9;
                    margin-top: 5px;
                }
            }
        }
    }
    .info{
        @media #{$minSmall} {
            width: 50%;
        }
        @media #{$minMedium} {
            width: 25%;
        }
        ul{
            color: #888;
            line-height: 1.8;
        }
        h4{
            color: #888;
            font-weight: bold;
            margin-bottom: 0; 
        }
        p{
            color: #888;
            margin-top: 8px;
        }
    }
    .contact{
        @media #{$minSmall} {
            width: 50%;
        }
        @media #{$minMedium} {
            width: 25%;
        }
        input[type="text"], input[type="email"] ,textarea{
            border: 1px solid #888;
            padding: 10px;
            margin-bottom: 5px;
            border-radius: 10px;
            width: 100%;
            outline: none;
        }
        textarea{
            height: 140px;
        }
    }
    .section_title{
        color: #444;
        font-weight: normal;
    }
    .copyright{
        padding: 25px 0;
        border-top: 1px solid #c5c5c5;
        overflow: hidden;
        color: #888;
        margin-top: 30px;
        .text, .author{
            @media #{$maxMobile} {
                float: none;
                width: 100%;
                margin-bottom: 20px;
            }
            @media #{$minSmall} {
                float: $floatLeft;
                width: 50%;
            }
        }
        .author{
            @media #{$maxMobile} {
                text-align: center;
            }
            @media #{$minSmall} {
                text-align: $textRight;
            }
        }
    }
}